body {
	background-color: #DDDDDD;
}

.main-container {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	text-align: center;
}

#results {
	display: none;
}

#cached {
	font-size: 10px;
	display: none;
	color: red;
}

#form {
	background-color: #CCCCCC;
	padding: 20px;
	border: 2px solid black;
}

#submit-button {
	margin: 5px;
}

.field {
	margin-bottom: 10px;
}